@inject IGameDataService GameDataService
@inject HttpClient Client

@page "/Cards/{baid:int}/DaniDojo"

<MudBreadcrumbs Items="breadcrumbs" Class="px-0"></MudBreadcrumbs>

<h1>Dani Dojo</h1>
<MudText Typo="Typo.caption">Card: @Baid</MudText>
<MudContainer>
    <MudTabs>
        @for (uint i = 1; i <= 19; i++)
        {
            var danId = i;
            var danData = GameDataService.GetDanDataById(danId);
            <MudTabPanel Text="@danData.Title">
                @foreach (var data in danData.OdaiBorderList)
                {
                    <MudText>@DanRequirementToString(data)</MudText>
                }
                @if (bestDataMap.ContainsKey(danId))
                {
                    var danBestData = bestDataMap[danId];
                    <MudText>Clear state: @danBestData.ClearState </MudText>
                    <MudText>Best Soul gauge: @danBestData.SoulGaugeTotal </MudText>
                    <MudText>Best Total Combo: @danBestData.ComboCountTotal </MudText>
                    <MudGrid>
                        @foreach (var bestStage in danBestData.DanBestStageDataList)
                        {
                            var songNumber = bestStage.SongNumber;
                            var danDataOdaiSong = danData.OdaiSongList[(int)songNumber];
                            <MudItem>
                                <MudText>Song Number: @songNumber</MudText>
                                <MudText>
                                    Song Name:
                                    @GameDataService.GetMusicNameBySongId(danDataOdaiSong.SongNo)
                                </MudText>
                                <MudText>Song Difficulty: @((Difficulty)danDataOdaiSong.Level)</MudText>
                                <MudText>
                                    Song play detail <br/>
                                    Good : @bestStage.GoodCount <br/>
                                    Ok : @bestStage.OkCount <br/>
                                    Bad : @bestStage.BadCount <br/>
                                    Combo : @bestStage.ComboCount<br/>
                                    Drumroll : @bestStage.DrumrollCount <br/>
                                    Total hit : @bestStage.TotalHitCount
                                </MudText>
                            </MudItem>
                        }
                    </MudGrid>

                }
                else
                {
                    <MudText>
                        This dan course hasn't been played
                    </MudText>
                }
            </MudTabPanel>
        }
    </MudTabs>
</MudContainer>