@inject HttpClient Client
@inject IDialogService DialogService
@inject LoginService LoginService
@inject NavigationManager NavigationManager

@page "/Login"


@if (!LoginService.IsLoggedIn) 
{
    // Not logged in, show login form
    <MudContainer>
        <MudGrid Justify="Justify.Center">
            <MudItem xs="12" md="6" lg="4">
                <MudCard Elevation="0" Outlined="true">
                    <MudCardHeader>
                        <MudText Typo="Typo.h5">@Localizer["Log In"]</MudText>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudForm @ref="loginForm">
                            <div style="display:flex;flex-direction:column;gap:15px;">
                                <MudTextField @bind-value="inputAccessCode" InputType="InputType.Text" T="string"
                                                FullWidth="true" Required="@true" RequiredError="Access code is required"
                                                Label="Access Code" Variant="Variant.Outlined" Margin="Margin.Dense" />
                                <MudTextField @bind-Value="inputPassword" InputType="InputType.Password"
                                                T="string" FullWidth="true" Required="@true"
                                                RequiredError="Password is required"
                                                Label="Password" Variant="Variant.Outlined" Margin="Margin.Dense" />
                                <MudButton OnClick="OnLogin" FullWidth="true" StartIcon="@Icons.Material.Filled.Login" Color="Color.Primary" Variant="Variant.Filled">@Localizer["Log In"]</MudButton>
                            </div>
                        </MudForm>
                    </MudCardContent>
                </MudCard>
            </MudItem>
        </MudGrid>
    </MudContainer>
} else
{
    // Already logged in, redirect to Dashboard
    NavigationManager.NavigateTo("/");
}