@inject HttpClient Client
@inject IDialogService DialogService
@inject LoginService LoginService
@inject NavigationManager NavigationManager

@page "/Users/Register"

<h1>Users</h1>

@if (LoginService.OnlyAdmin || !LoginService.LoginRequired)
{
    <h1>Register is turned off</h1>
}
else
{
    <MudContainer>
        <MudGrid Justify="Justify.Center">
            <MudItem xs="4" class="mt-8">
                <MudCard>
                    <MudCardContent>
                        <MudForm @ref="registerForm">
                            <MudText Typo="Typo.h4" Align="Align.Center">Register</MudText>
                            <MudTextField @bind-value="accessCode" InputType="InputType.Text" T="string"
                                          FullWidth="true" Required="@true" RequiredError="Access Code is required"
                                          Label="Access Code"/>
                            @if (LoginService.RegisterWithLastPlayTime)
                            {
                                <MudDatePicker @ref="datePicker" Label="Last Play Date" @bind-Date="date" AutoClose="false">
                                    <PickerActions>
                                        <MudButton Class="mr-auto align-self-start" OnClick="@(() => datePicker.Clear())">Clear</MudButton>
                                        <MudButton OnClick="@(() => datePicker.Close(false))">Cancel</MudButton>
                                        <MudButton Color="Color.Primary" OnClick="@(() => datePicker.Close())">Ok</MudButton>
                                    </PickerActions>
                                </MudDatePicker>
                                <MudTimePicker @ref="timePicker" AmPm="true" Label="Last Play Time(5 min within when credit ended)" @bind-Time="time" AutoClose="false">
                                    <PickerActions>
                                        <MudButton Class="mr-auto align-self-start" OnClick="@(() => timePicker.Clear())">Clear</MudButton>
                                        <MudButton OnClick="@(() => timePicker.Close(false))">Cancel</MudButton>
                                        <MudButton Color="Color.Primary" OnClick="@(() => timePicker.Close())">Ok</MudButton>
                                    </PickerActions>
                                </MudTimePicker>
                            }
                            <MudTextField @bind-Value="password" InputType="InputType.Password"
                                          T="string" FullWidth="true" Required="@true"
                                          RequiredError="Password is required"
                                          Label="Password">
                            </MudTextField>
                            <MudTextField @bind-Value="confirmPassword" InputType="InputType.Password"
                                          T="string" FullWidth="true" Required="@true"
                                          RequiredError="Confirm password is required"
                                          Label="Confirm Password">
                            </MudTextField>
                            <MudButton OnClick="OnRegister" FullWidth="true" Class="mt-3" StartIcon="@Icons.Material.Filled.AddCard" Color="Color.Primary" Variant="Variant.Filled">Register</MudButton>
                        </MudForm>
                    </MudCardContent>
                </MudCard>
            </MudItem>
        </MudGrid>
    </MudContainer>
}
