@inject HttpClient Client
@inject ISnackbar Snackbar

<MudDialog>
    <TitleContent>
        <div class="d-flex align-items-center gap-2">
            <MudIcon Icon="@Icons.Material.Filled.LockReset" Size="Size.Medium" />
            <MudText Typo="Typo.h6">@Localizer["Reset Password"]</MudText>
        </div>
    </TitleContent>
    <DialogContent>
        <MudText Class="mb-2">@Localizer["Reset Password Confirm 1"]</MudText>
        <MudText>@Localizer["Reset Password Confirm 2"]</MudText>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">@Localizer["Cancel"]</MudButton>
        <MudButton Color="Color.Error" OnClick="ResetPassword">
            @Localizer["Reset"]
        </MudButton>
    </DialogActions>
</MudDialog>